n8n/ai-assistant-workflow.json
{
  "name": "Amygdala - AI Assistant",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amygdala-ai-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-340, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.4, messages: [ { role: 'system', content: 'You are Amygdala\\'s AI business assistant embedded in a small business dashboard for ' + ($json.body.context.organizationName || 'the team') + '. Live context: ' + $json.body.context.todaysAppointments + ' appointments today, ' + $json.body.context.newLeads + ' new leads, ' + $json.body.context.pendingInvoices + ' pending invoices, ' + $json.body.context.aiTasksToday + ' AI tasks completed today. Answer the user\\'s question concisely and reference this context when relevant.' }, { role: 'user', content: $json.body.message } ] }) }}",
        "options": {}
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000002",
      "name": "Ask OpenAI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 0],
      "notes": "Select your OpenAI credential after import (Authentication: Predefined Credential Type)."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item) => {\n  let reply = \"Sorry, I couldn't generate a response.\";\n  try {\n    reply = item.json.choices[0].message.content;\n  } catch (e) {\n    // keep fallback\n  }\n  return { json: { reply } };\n});"
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000003",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 0]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.reply } }}",
        "options": {}
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000004",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [320, 0]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Ask OpenAI", "type": "main", "index": 0 }]] },
    "Ask OpenAI": { "main": [[{ "node": "Extract Reply", "type": "main", "index": 0 }]] },
    "Extract Reply": { "main": [[{ "node": "Respond to Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
