n8n/amygdala-workflow.json
{
  "name": "Amygdala - AI Workflows",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amygdala-lead-capture",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000001",
      "name": "Lead Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-560, 0]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-name", "name": "name", "type": "string", "value": "={{ $json.body.lead.name }}" },
            { "id": "assign-email", "name": "email", "type": "string", "value": "={{ $json.body.lead.email }}" },
            { "id": "assign-phone", "name": "phone", "type": "string", "value": "={{ $json.body.lead.phone || 'n/a' }}" },
            { "id": "assign-message", "name": "message", "type": "string", "value": "={{ $json.body.lead.message || '(no message)' }}" },
            { "id": "assign-leadId", "name": "leadId", "type": "string", "value": "={{ $json.body.lead.id }}" }
          ]
        },
        "options": {}
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000002",
      "name": "Normalize Lead",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-340, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are a sales lead triage assistant for a small business called Amygdala. Given a lead name, email, and message, respond with strict JSON only: {\"insight\": string, \"priority\": \"NEW\"|\"CONTACTED\"|\"QUALIFIED\"}. Use QUALIFIED for clear buying intent, budget, or urgency. Use CONTACTED for a generic but engaged inquiry. Use NEW when there is minimal signal.' }, { role: 'user', content: 'Name: ' + $json.name + '\\nEmail: ' + $json.email + '\\nMessage: ' + $json.message } ] }) }}",
        "options": {}
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000005",
      "name": "AI Triage (OpenAI)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 0],
      "notes": "Set Authentication credential to your OpenAI credential after import."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item) => {\n  let insight = 'AI analysis unavailable';\n  let priority = 'NEW';\n  try {\n    const content = item.json.choices[0].message.content;\n    const parsed = JSON.parse(content);\n    if (parsed.insight) insight = parsed.insight;\n    if (['NEW', 'CONTACTED', 'QUALIFIED'].includes(parsed.priority)) priority = parsed.priority;\n  } catch (e) {\n    // keep fallback values\n  }\n  return {\n    json: {\n      leadId: $('Normalize Lead').item.json.leadId,\n      name: $('Normalize Lead').item.json.name,\n      email: $('Normalize Lead').item.json.email,\n      aiInsight: insight,\n      priority,\n    },\n  };\n});"
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000006",
      "name": "Parse AI Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://amygdala-chi.vercel.app/api/leads/callback",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "x-n8n-secret", "value": "REPLACE_WITH_N8N_CALLBACK_SECRET" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ leadId: $json.leadId, aiInsight: $json.aiInsight, priority: $json.priority }) }}",
        "options": {}
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000007",
      "name": "Update Lead in Amygdala",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [320, 0],
      "notes": "Replace REPLACE_WITH_N8N_CALLBACK_SECRET with the N8N_CALLBACK_SECRET value from Vercel env vars."
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "mode": "name", "value": "#sales" },
        "text": "=🆕 New lead triaged by AI.\nName: {{ $json.name }}\nEmail: {{ $json.email }}\nPriority: {{ $json.status }}\nInsight: {{ $json.aiInsight }}\nAssigned to: {{ $json.assignedTo ? $json.assignedTo.name : 'Unassigned' }}",
        "otherOptions": {}
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000003",
      "name": "Notify Slack (configure credentials)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [540, 0],
      "notes": "Requires a Slack credential to be configured in n8n. Delete this node if you don't use Slack.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { ok: true, leadId: $json.leadId, assignedTo: $json.assignedTo } }}",
        "options": {}
      },
      "id": "8e1c2b1a-1111-4a11-9a11-000000000004",
      "name": "Respond to Lead Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 0]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amygdala-ai-assistant",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000001",
      "name": "Assistant Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-560, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.4, messages: [ { role: 'system', content: 'You are Amygdala\\'s AI business assistant embedded in a small business dashboard for ' + ($json.body.context.organizationName || 'the team') + '. Live context: ' + $json.body.context.todaysAppointments + ' appointments today, ' + $json.body.context.newLeads + ' new leads, ' + $json.body.context.pendingInvoices + ' pending invoices, ' + $json.body.context.aiTasksToday + ' AI tasks completed today. Answer the user\\'s question concisely and reference this context when relevant.' }, { role: 'user', content: $json.body.message } ] }) }}",
        "options": {}
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000002",
      "name": "Ask OpenAI (Assistant)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-340, 300],
      "notes": "Set Authentication credential to your OpenAI credential after import."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item) => {\n  let reply = \"Sorry, I couldn't generate a response.\";\n  try {\n    reply = item.json.choices[0].message.content;\n  } catch (e) {\n    // keep fallback\n  }\n  return { json: { reply } };\n});"
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000003",
      "name": "Extract Reply",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [-120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $json.reply } }}",
        "options": {}
      },
      "id": "9f2d3c2b-2222-4b22-8b22-000000000004",
      "name": "Respond to Assistant Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "amygdala-customer-chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000001",
      "name": "Chat Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [-560, 600]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "assign-chat-message", "name": "message", "type": "string", "value": "={{ $json.body.message }}" },
            { "id": "assign-chat-kb", "name": "kbContext", "type": "string", "value": "={{ $json.body.kbContext }}" }
          ]
        },
        "options": {}
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000002",
      "name": "Normalize Chat",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [-340, 600]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'gpt-4o-mini', temperature: 0.3, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: 'You are the AI customer support assistant for a small business called Amygdala. Answer the customer\\'s question using ONLY the following knowledge base context. If the context does not contain enough information to answer confidently, or the question needs account/order-specific details you do not have, respond with escalate=true and a brief friendly message telling the customer a team member will follow up shortly. Respond with strict JSON only: {\"reply\": string, \"escalate\": boolean}.\\n\\nKnowledge base context:\\n' + $json.kbContext }, { role: 'user', content: $json.message } ] }) }}",
        "options": {}
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000003",
      "name": "Ask OpenAI (Chat)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [-120, 600],
      "notes": "Set Authentication credential to your OpenAI credential after import."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nreturn items.map((item) => {\n  let reply = 'Let me get a team member to help with that.';\n  let escalate = true;\n  try {\n    const content = item.json.choices[0].message.content;\n    const parsed = JSON.parse(content);\n    if (parsed.reply) reply = parsed.reply;\n    if (typeof parsed.escalate === 'boolean') escalate = parsed.escalate;\n  } catch (e) {\n    // keep fallback (escalate = true)\n  }\n  return {\n    json: {\n      message: $('Normalize Chat').item.json.message,\n      reply,\n      escalate,\n    },\n  };\n});"
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000004",
      "name": "Parse Chat Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [100, 600]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [{ "value1": "={{ $json.escalate }}", "value2": true }]
        }
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000005",
      "name": "Needs Escalation?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [320, 600]
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "message",
        "operation": "post",
        "select": "channel",
        "channelId": { "mode": "name", "value": "#support" },
        "text": "=🚨 Customer chat escalated — AI couldn't answer confidently.\nQuestion: {{ $('Parse Chat Output').item.json.message }}\nAI reply given to customer: {{ $('Parse Chat Output').item.json.reply }}",
        "otherOptions": {}
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000006",
      "name": "Notify Staff (configure credentials)",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.3,
      "position": [540, 500],
      "notes": "Requires a Slack credential and a #support channel (or change the channel name). Delete this node if you don't use Slack.",
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { reply: $('Parse Chat Output').item.json.reply, escalate: $('Parse Chat Output').item.json.escalate } }}",
        "options": {}
      },
      "id": "7a4e5d4c-3333-4c33-9c33-000000000007",
      "name": "Respond to Chat Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [760, 600]
    }
  ],
  "connections": {
    "Lead Webhook": { "main": [[{ "node": "Normalize Lead", "type": "main", "index": 0 }]] },
    "Normalize Lead": { "main": [[{ "node": "AI Triage (OpenAI)", "type": "main", "index": 0 }]] },
    "AI Triage (OpenAI)": { "main": [[{ "node": "Parse AI Output", "type": "main", "index": 0 }]] },
    "Parse AI Output": { "main": [[{ "node": "Update Lead in Amygdala", "type": "main", "index": 0 }]] },
    "Update Lead in Amygdala": { "main": [[{ "node": "Notify Slack (configure credentials)", "type": "main", "index": 0 }]] },
    "Notify Slack (configure credentials)": { "main": [[{ "node": "Respond to Lead Webhook", "type": "main", "index": 0 }]] },
    "Assistant Webhook": { "main": [[{ "node": "Ask OpenAI (Assistant)", "type": "main", "index": 0 }]] },
    "Ask OpenAI (Assistant)": { "main": [[{ "node": "Extract Reply", "type": "main", "index": 0 }]] },
    "Extract Reply": { "main": [[{ "node": "Respond to Assistant Webhook", "type": "main", "index": 0 }]] },
    "Chat Webhook": { "main": [[{ "node": "Normalize Chat", "type": "main", "index": 0 }]] },
    "Normalize Chat": { "main": [[{ "node": "Ask OpenAI (Chat)", "type": "main", "index": 0 }]] },
    "Ask OpenAI (Chat)": { "main": [[{ "node": "Parse Chat Output", "type": "main", "index": 0 }]] },
    "Parse Chat Output": { "main": [[{ "node": "Needs Escalation?", "type": "main", "index": 0 }]] },
    "Needs Escalation?": {
      "main": [
        [{ "node": "Notify Staff (configure credentials)", "type": "main", "index": 0 }],
        [{ "node": "Respond to Chat Webhook", "type": "main", "index": 0 }]
      ]
    },
    "Notify Staff (configure credentials)": { "main": [[{ "node": "Respond to Chat Webhook", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" }
}
